numpy==2.5.1
opencv-python==5.0.0.93
av                        18.0.0
fastjsonschema            2.22.0
jsonschema                4.26.0
jsonschema-specifications 2025.9.1
python-dateutil           2.9.0.post0
